<web-app>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>AdminLoginServlet</servlet-name>
        <servlet-class>servlet.AdminLoginServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>AddCourierServlet</servlet-name>
        <servlet-class>servlet.AddCourierServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ViewCourierServlet</servlet-name>
        <servlet-class>servlet.ViewCourierServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>servlet.RegisterServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>TrackCourierServlet</servlet-name>
        <servlet-class>servlet.TrackCourierServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>UpdateStatusServlet</servlet-name>
        <servlet-class>servlet.UpdateStatusServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>DeleteCourierServlet</servlet-name>
        <servlet-class>servlet.DeleteCourierServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.cts.controller.LoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/AdminLoginServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AddCourierServlet</servlet-name>
        <url-pattern>/AddCourierServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ViewCourierServlet</servlet-name>
        <url-pattern>/ViewCourierServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>TrackCourierServlet</servlet-name>
        <url-pattern>/TrackCourierServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UpdateStatusServlet</servlet-name>
        <url-pattern>/UpdateStatusServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DeleteCourierServlet</servlet-name>
        <url-pattern>/DeleteCourierServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
</web-app>